.red__text {
    color: red;
}

.movies__container {
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
    background-color: lightgrey;
}

.row {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.search__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 24px;
    width: 100%;
}

.search__header > .search__input {
    margin: initial;
}

.search__input {
    max-width: 400px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    
}

.search__input > input {
    border: none;
    flex: 1 1;
    font-size: medium;
    padding: 15px 30px;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 999px;
}

.search__input--btn{
    width: 10%;
    border-radius: 5px;
    display: flex;
    position: relative;
    cursor: pointer;
    right: 220px;
}

.search__btn > .MuiSvgIcon-root {
    position: absolute;
    font-size: 18px;
    color: black !important;
}

.movies-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-top: 48px;
   
}

.movie {
    height: 450px;
    position: relative;
    padding: 16px;
    margin: 10px;
    
}

.movie__img--wrapper {
    border: 2px solid #d91010;
    border-radius: 8px;
    box-shadow: 0 5px 14px 4px rgba(212, 18, 18, 0.5);
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-bottom: 24px;
    overflow: hidden;
}

.movie__info {
    text-align: center;
}

.movie__info > .movie__title {
    font-weight: bold;
    color: black;
}

.movie__info > .movie__year {
    margin-top: 10px;
    color: blue;
    font-weight: bold;
}

